<ion-content class="ion-padding">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="closeModal(false)">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{ actionType === 'update' ? 'Update Employee' : 'Add Employee' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal(true)" [strong]="true" [disabled]="empForm.invalid">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form [formGroup]="empForm" (ngSubmit)="closeModal(true)" enctype="multipart/form-data">
    <ion-item>
      <ion-img [src]="imageUrl"></ion-img>
      <ion-button (click)="chooseFile()">Choose Image</ion-button>
      <ion-button (click)="uploadImage()">Upload Image</ion-button>
    </ion-item>
      
    <ion-item>

      <ion-input labelPlacement="stacked" label="Enter First name" formControlName="first_name" appAlphabetOnly placeholder="Your First Name"></ion-input>

    </ion-item>
    <div *ngIf="empForm.controls['first_name'].touched && empForm.controls['first_name'].invalid">
      <ion-text color="danger">First Name is required.</ion-text>
    </div>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Middle name" formControlName="middle_name" appAlphabetOnly placeholder="Your Middle Name"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['middle_name'].touched && empForm.controls['middle_name'].invalid">
      <ion-text color="danger">Middle Name is required.</ion-text>
    </div>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Last name" formControlName="last_name" appAlphabetOnly placeholder="Your Last Name"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['last_name'].touched && empForm.controls['last_name'].invalid">
      <ion-text color="danger">Last Name is required.</ion-text>
    </div>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Email" formControlName="email" placeholder="Your Email"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['email'].touched && empForm.controls['email'].invalid">
      <ion-text color="danger">
        <ng-container *ngIf="empForm.controls['email'].hasError('required')">
          Email is required.
        </ng-container>
        <ng-container *ngIf="empForm.controls['email'].hasError('email') && !empForm.controls['email'].hasError('required')">
          Invalid email format.
        </ng-container>
        <ng-container *ngIf="empForm.controls['email'].hasError('startsWithNumber')">
          Email cannot start with a number.
        </ng-container>
        <ng-container *ngIf="empForm.controls['email'].hasError('containsInvalidSymbols')">
          Email cannot contain symbols other than "@" and ".".
        </ng-container>
      </ion-text>
    </div>
    

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Hire Date" formControlName="hire_date" placeholder="Hire Date" type="date"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['hire_date'].touched && empForm.controls['hire_date'].invalid">
      <ion-text color="danger">Hire Date is required.</ion-text>
    </div>

    <ion-item>
      <ion-select labelPlacement="stacked" label="Select Department" formControlName="department" placeholder="Select a department">
        <ion-select-option
          *ngFor="let department of departments"
          
        >
          {{ department.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="empForm.controls['department'].touched && empForm.controls['department'].invalid">
      <ion-text color="danger">Please select a department.</ion-text>
    </div>

    <ion-item>
      <ion-select labelPlacement="stacked" label="Select Position" formControlName="position">
        <ion-select-option value="Manager">Manager</ion-select-option>
        <ion-select-option value="Engineer">Engineer</ion-select-option>
        <ion-select-option value="Designer">Designer</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="empForm.controls['position'].touched && empForm.controls['position'].invalid">
      <ion-text color="danger">Please select a position.</ion-text>
    </div>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Password" formControlName="password" placeholder="Password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['password'].touched && empForm.controls['password'].invalid">
      <ion-text color="danger">Password is required.</ion-text>
    </div>
    
    <ion-item>
      <ion-input labelPlacement="stacked" label="Confirm Password" formControlName="confirmPassword" placeholder="Confirm Password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="empForm.controls['confirmPassword'].touched && empForm.controls['confirmPassword'].hasError('required')">
      <ion-text color="danger">Confirm Password is required.</ion-text>
    </div>
    <div *ngIf="empForm.get('confirmPassword')?.touched && empForm.get('confirmPassword')?.hasError('passwordMismatch')">
      <ion-text color="danger">Passwords do not match.</ion-text>
    </div>

    </form>
  </ion-content>
  
