
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Attendance Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="1" size-lg="1">
          <ion-button expand="block" (click)="openModal('')" > Add </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="for_scroll">
    <table class="custom-ion-table">
      <thead>
        <tr>
          <th scope="col">AttendanceId</th>
          <th scope="col">Employee</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of AttendanceList">
          <th>{{dataItem.attendance_id}}</th>
          <td>{{dataItem.employee}}</td>
          <td>{{dataItem.date}}</td>
          <td>{{dataItem.status}}</td>
          <td>
            <ion-button color="primary" (click)="openModal(dataItem)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteClick(dataItem)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </ion-content>
</div>
