<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <!-- <form #userSignUp="ngForm" (ngSubmit)="Login(userSignUp.value)"> -->
        <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <img src="assets/images/small.svg">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Enter User Name</ion-label>
            <ion-input type="email" name="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
            <ion-text color="danger">
              <ng-container *ngIf="loginForm.controls['email'].hasError('required')">
                Email is required.
              </ng-container>
              <ng-container *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                Invalid email format.
              </ng-container>
            </ion-text>
          </div>

          <ion-item>
            <ion-label position="floating">Enter Password</ion-label>
            <ion-input type="password" name="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
            <ion-text color="danger">
              <ng-container *ngIf="loginForm.controls['password'].hasError('required')">
                Password is required.
              </ng-container>
              <ng-container *ngIf="loginForm.controls['password'].hasError('minlength')">
                Password must be at least 3 characters long.
              </ng-container>
            </ion-text>
          </div>

          <!-- Authentication error -->
          <ion-label class="auth-error" *ngIf="authError" color="danger">{{ authError }}</ion-label>

          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="loginForm.invalid" color="danger" shape="full" expand="full">
                <ion-icon name="key" slot="start"></ion-icon>
                Login
              </ion-button>
            </ion-col>
          </ion-row>


        </ion-list>
      </form>

      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
