<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Common menu items for all users -->
    <ion-list>
      <ion-item routerLink="/dashboard">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item routerLink="/check-in">
        <ion-label>Fill Attendance</ion-label>
      </ion-item>
      <ion-item routerLink="/show-emp-attendance">
        <ion-label>Recent Attendance</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button slot="end" expand="full" color="danger" (click)="logout()">Logout</ion-button></ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-content class="ion-padding">Tap the button in the toolbar to open the menu.</ion-content> -->
</div>



<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile - {{ first_name }} {{ last_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Profile - {{ first_name }} {{ last_name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-card>
      <ion-card-header>
        <form>
          <!-- ... Your form content here ... -->

          <!-- Display user information -->
          <ion-item>
            <!-- <img src="{{userPhoto}}" alt="images not loaded"> -->
          </ion-item>
          <ion-item>
            <ion-label>First Name</ion-label>
            <ion-text>{{ first_name }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-text>{{ last_name }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-text>{{ email }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Hire Date</ion-label>
            <ion-text>{{ hire_date }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Department</ion-label>
            <ion-text>{{ department }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Role</ion-label>
            <ion-text>{{ role }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Position</ion-label>
            <ion-text>{{ position }}</ion-text>
          </ion-item>

          <!-- ... Other form fields ... -->

        </form>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
