<ion-content class="ion-padding">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModal(false)">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ actionType === 'update' ? 'Update Department' : 'Add Department' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(true)" [strong]="true" [disabled]="depForm.invalid">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="depForm" (ngSubmit)="closeModal(true)">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter your name" formControlName="name"  placeholder="Your name"></ion-input>
    </ion-item>
    <div *ngIf="depForm.controls['name'].touched && depForm.controls['name'].invalid">
      <ion-text color="danger">Name is required.</ion-text>
    </div>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Enter Department Description" formControlName="description"  placeholder="Description"></ion-input>
    </ion-item>
    <div *ngIf="depForm.controls['description'].touched && depForm.controls['description'].invalid">
      <ion-text color="danger">Description is required.</ion-text>
    </div>
  </form>
</ion-content>
