<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" shape="full" expand="full" (click)="logout()">
            <ion-icon name="key" slot="start"></ion-icon>
            Logout
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- Display the session timer -->
      <div *ngIf="isLoggedIn">
        <p>Session Timer: {{ formatTime(remainingTime) }}</p>
      </div>

    </ion-toolbar>
  </ion-header>
</ion-content>